<div id="extra">
  <p><strong>About</strong></p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec posuere purus sit amet elit placerat porttitor. Nulla placerat imperdiet massa a placerat. Fusce pretium sem quis enim tempor gravida. Nullam ac enim sem. Donec nunc neque, tincidunt non feugiat facilisis, blandit ac nulla. Praesent in felis ac erat vulputate egestas sit amet vitae augue. Mauris tempus risus at dui facilisis interdum. Pellentesque sodales molestie egestas. Vivamus lacinia tincidunt euismod. Nulla facilisi. Nullam lacinia rutrum nulla nec porta.
  </p>
</div>